extends layout

block content
    h1 Games
    if games.length
        div.col-md-12.row
            each game in games
                div.col-md-3.game
                    a(href="/game/"+game.name+"/index.html")
                        div
                            img(src="/images/"+game.image)
                        = game.name
    else
        p No games yet
