extends layout

block navbar
    include includes/navbar_loggedin.pug

block content
    h1 Games
    if games.length
        div(class="card-deck")
            each game in games
                div(class="card text-white bg-dark mb-3" style="padding:0")
                    h3(class="card-header text-center")= game.name
                    div(class="card-body")
                        img(class="card-img mb-3" src="/images/"+game.image)
                        p(class="card-text") #{game.description}
                        p(class="card-text") current highscore : #{game.highscore}
                        a(class="btn btn-lg btn-primary btn-block" href="/game/"+game.name) Play !
                        a(class="btn btn-lg btn-secondary btn-block" href="/games/scores?game="+game.name) Scores
                    div(class="card-footer")
                        p(class="card-text")
                            small(class="text-muted") Created by #{game.author}
    else
        p No games yet
