extends layout

block content
    h1 Users
    if users.length
        table.listing-table.table-dark.table-striped
            tr
                th Email
                th Password
            each user in users
                tr
                    td= user.email
                    td= user.password
    else
        p No users yet
    a(href="/logout") Logout
