body {
    background-color: #eee;
}

.listing-reg h1 {
    text-align: center;
    margin: 0 0 2rem;
}

/* css for registration form and errors*/
.card {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.card input {
    width: 100%;
    margin: 0px 0 10px;
}

.card .btn {
    flex: 1 0 100%;
}

.my-errors {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
    font-size: 0.90rem;
    display: table;
}

.my-errors li {
    color: #731111;
}
